---
const { gif, trad, hv_sp, p_svar, gif_desk, trad_desk, hv_sp_desk, p_1, p_2, p_3 } = Astro.props;
---

<div class="service_mobil">
  <div class="layout">
    <img src={gif} alt="img" class="gif_1" />
    <img src={trad} alt="img" class="trad_1" />
  </div>
  <h3 class="hv">{hv_sp}</h3>
  <p class="p_width">{p_svar}</p>
</div>
<div class="service_desk">
  <!-- <img src="trad1_desk.png" alt="" /> -->
  <div class="layout_desk">
    <div class="gif_desk">
      <img src={gif_desk} alt="" />
    </div>
    <div class="hv_p_desk">
      <h3 class="hv_desk">{hv_sp_desk}</h3>
      <p class="p_desk">{p_1}</p>
      <p class="p_desk">{p_2}</p>
      <p class="p_desk">{p_3}</p>
    </div>
  </div>
  <div class="trad_desk">
    <img src={trad_desk} alt="" />
  </div>
</div>

<style>
  .rep_service {
    text-align: center;
  }

  .layout {
    display: flex;
  }
  .gif_1 {
    flex: 0.5;
    padding: 10% 0 0 30%;
  }

  .trad_1 {
    width: 20%;
  }

  .hv {
    padding-top: 5%;
    text-align: center;
    font-size: var(--font-h3-mobil);
  }
  .p_width {
    padding: 5% 10% 10% 10%;
    text-align: left;
    font-size: var(--font-p-mobil);
  }

  .service_desk {
    display: none;
  }

  @media screen and (min-width: 800px) {
    .service_mobil {
      display: none;
    }

    .service_desk {
      display: block;
    }
    .layout_desk {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin: 0 3%;
    }
    .hv_p_desk {
      padding: 0;
    }

    .hv_desk {
      padding-bottom: 5%;
      font-size: var(--font-h3-desk);
    }

    .p_desk {
      font-size: var(--font-p-desk);
    }

    .gif_desk {
      padding-left: 20%;
    }

    .trad_desk {
      max-width: 100%;
      padding: 0 20%;
    }
  }
</style>
